/* PANEL DE VIDRIO */
.glass-panel {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  animation: slideGlass 1.4s ease-out forwards;
}

/* TEXTO CON IMAGEN DENTRO (EFECTO AFRICAN FOREST) */
.mask-text {
  font-size: clamp(3rem, 6vw, 6rem);
  font-weight: 700;
  line-height: 1;
  letter-spacing: 6px;

  background-image: url("../assets/images/hero.jpeg");
  background-size: cover;
  background-position: center;

  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

  text-transform: uppercase;
}

@keyframes slideGlass {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
