

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #ffffff;
  overflow-x: hidden;

}

/* HERO */
.hero {
  height: 100vh;
  background-image: url("../assets/images/hero.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  
}

/* PANEL ocupa media pantalla */
.glass-panel {
  width: 50%;
  height: 100%;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
